<ul class="nav-menu">
  {{#if footer}}
    {{#each links.header-menu}}
      <li class="nav-menu__item">
        <a href="{{this.url}}" class="nav-menu__link">{{this.label}}</a>
      </li>
    {{/each}}
  {{else}}
    {{#each links.header-menu}}
      <li class="nav-menu__item">
        <a href="{{this.url}}" class="nav-menu__link">{{this.label}}</a>
        {{#if this.submenu}}
          <ul class="nav-menu__submenu submenu">
            {{#each this.submenu}}
              <li class="submenu__item">
                <a href="{{#if this.url-1}}{{this.url-1}}{{else}}#{{/if}}" class="submenu__link">{{{this.level-1}}}{{#if this.submenu-2}}{{>ui/svg name="arrow-black"}}{{/if}}</a>
                {{#if this.submenu-2}}
                  <ul class="nav-menu__submenu submenu">
                    {{#each this.submenu-2}}
                      <li class="submenu__item">
                        <a href="{{#if this.url-2}}{{this.url-2}}{{else}}#{{/if}}" class="submenu__link">{{this.level-2}}</a>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </li>
    {{/each}}
  {{/if}}
</ul>
