<ul class="nav-menu">
  <li class="nav-menu__item"><a href="{{nav-links.nav-1.url}}" class="nav-menu__link">О приходе</a></li>
  <li class="nav-menu__item"><a href="{{nav-links.nav-2.url}}" class="nav-menu__link">Службы и таинства</a></li>
  <li class="nav-menu__item"><a href="{{nav-links.nav-3.url}}" class="nav-menu__link">Проекты и деятельность</a></li>
  <li class="nav-menu__item"><a href="{{nav-links.nav-4.url}}" class="nav-menu__link">Воскресная школа</a></li>
  <li class="nav-menu__item"><a href="{{nav-links.nav-5.url}}" class="nav-menu__link">Паломнический отдел</a></li>
  <li class="nav-menu__item"><a href="{{nav-links.nav-6.url}}" class="nav-menu__link">Молодежный центр</a></li>
</ul>
