<div class="breadcrumbs">
  <div class="breadcrumbs__container">
    {{#if main}}
      <a href="{{#if main-link}}{{main-link}}{{else}}#{{/if}}"
         class="breadcrumbs__link breadcrumbs__link--main">{{main}}</a>
    {{/if}}
    {{#if topic}}
      <a href="{{#if topic-link}}{{topic-link}}{{else}}#{{/if}}"
         class="breadcrumbs__link breadcrumbs__link--topic">{{topic}}</a>
    {{/if}}
    {{#if current}}
      <a class="breadcrumbs__link breadcrumbs__link--current">{{current}}</a>
    {{/if}}
  </div>
</div>
