{{#each items}}
  <li class="card main-calendar__item">
    <div class="main-calendar__header">
      <div class="main-calendar__header-left">
        {{#if this.day}}
          <i class="main-calendar__label {{#if current}}main-calendar__label--current{{/if}}">
            {{this.day}}
          </i>
        {{/if}}
        {{#if this.date}}
          <strong class="main-calendar__date">{{this.date}}</strong>
        {{/if}}
        {{#if this.old-date}}
          <span class="main-calendar__old-date">{{this.old-date}}</span>
        {{/if}}
      </div>
      {{#if this.article-link}}
        <div class="main-calendar__header-right">
          <a href="{{this.article-link}}" class="main-calendar__article-link" aria-label="Link to the article.">
            <span>Читать статью</span>
          </a>
        </div>
      {{/if}}
    </div>
    <div class="main-calendar__content">
      <p><strong>{{this.text1}}</strong></p>
      <p>{{this.text2}}</p>
      <p><span>{{{this.text3}}}</span></p>
      <p><strong>{{this.text4}}</strong></p>
      <p><i>{{{this.text5}}}</i></p>
    </div>
  </li>
{{/each}}
