{{#each items}}
  {{#if this.day}}
    <li class="section main-calendar__item">
      <div class="main-calendar__header">
        <i class="main-calendar__label {{#if current}}main-calendar__label--current{{/if}}">
          {{this.day}}
        </i>
        <strong class="main-calendar__date">{{this.date}}</strong>
        <span class="main-calendar__old-date">{{this.old-date}}</span>
        {{#if this.article-link}}
          <a href="{{this.article-link}}" class="main-calendar__article-link">
              <span>Читать статью</span>
          </a>
        {{/if}}
      </div>
      <div class="main-calendar__content">
        <p><strong>{{this.text1}}</strong></p>
        <p>{{this.text2}}</p>
        <p><span>{{{this.text3}}}</span></p>
        <p><strong>{{this.text4}}</strong></p>
        <p><i>{{{this.text5}}}</i></p>
      </div>
    </li>
  {{/if}}
{{/each}}
