{{#if photos}}
  <span class="{{#if post}}section-post__views{{else}}views{{/if}}">{{>ui/svg name="camera"}} {{views}} </span>
{{else}}
  <span class="{{#if post}}section-post__views{{else}}views{{/if}}">{{>ui/svg name="eye"}} {{views}} </span>
{{/if}}
