<ul class="timetable__list">
  {{#each items}}
    <li class="timetable__item card">
      <h3 class="timetable__item-title">
        <span class="timetable__day {{#if isWeekend}}timetable__day--weekend{{/if}}">{{this.day}}</span>
        <span class="timetable__date">{{this.date}}</span>
      </h3>
      <p class="timetable__text">{{this.text}}</p>
      {{#each this.events}}
        <p class="timetable__event"><span>{{this.time}}</span> {{this.name}}</p>
      {{/each}}
    </li>
  {{/each}}
</ul>
