<div class="photo-slider js-slider-default">
  <div class="photo-slider__container swiper-container" data-slider="slider">
    <div class="photo-slider__wrapper swiper-wrapper">
      {{#times 7}}
        <div class="photo-slider__slide swiper-slide">
          <div class="photo">
            <a href="{{../links.photos.album.url}}" class="photo__link" aria-label="Ссылка на страницу с фотоальбомом."></a>
            <div class="photo__image">
              {{#if ../photo}}
                {{> components/image img=(concat 'photo/' ../photo) fallback-ext='jpg' }}
              {{/if}}
            </div>
            <div class="photo__description">
              <p class="photo__text">{{{../text}}}</p>
              <div class="photo__stats">
                {{# if ../stats}}
                  {{> ui/svg name="camera" }}
                  <span class="photo__amount">{{../amount}}</span>
                {{else}}
                  <span class="photo__date">{{../date}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      {{/times}}
    </div>
  </div>

  <div class="slider-bullets photo-slider__bullets" data-slider="pagination"></div>
</div>
